<?xml version="1.0"?>
<!--
/**
 * MageSpecialist
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magespecialist.it so we can send you a copy immediately.
 *
 * @category   MSP
 * @package    MSP_ReCaptcha
 * @copyright  Copyright (c) 2017 Skeeller srl (http://www.magespecialist.it)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MSP\ReCaptcha\Api\ValidateInterface" type="MSP\ReCaptcha\Model\Validate"/>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="msp_recaptcha" xsi:type="object">MSP\ReCaptcha\Command\ReCaptcha</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="msp-exclude" type="MSP\ReCaptcha\Plugin\ExcludeFromMinification"/>
    </type>

    <!-- Default HTTP response provider -->
    <preference for="MSP\ReCaptcha\Model\Provider\ResponseProviderInterface"
                type="MSP\ReCaptcha\Model\Provider\Response\DefaultResponseProvider"/>

    <!-- User login -->
    <virtualType name="MSP\ReCaptcha\Model\Provider\Failure\LoginObserver"
                 type="MSP\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrlProvider"
                      xsi:type="object">MSP\ReCaptcha\Model\Provider\Failure\RedirectUrl\BeforeAuthUrlProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="MSP\ReCaptcha\Observer\Frontend\ForgotPasswordObserver"
                 type="MSP\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="enableConfigFlag"
                      xsi:type="string">msp_securitysuite_recaptcha/frontend/enabled_login</argument>
            <argument name="area" xsi:type="string">frontend</argument>
            <argument name="failureProvider"
                      xsi:type="object">MSP\ReCaptcha\Model\Provider\Failure\LoginObserver</argument>
        </arguments>
    </virtualType>

    <!-- Forgot password -->
    <virtualType name="MSP\ReCaptcha\Model\Provider\Failure\ForgotPasswordObserver"
                 type="MSP\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrl" xsi:type="string">*/*/forgotpassword</argument>
            <argument name="redirectUrlParams" xsi:type="array">
                <item name="_secure" xsi:type="boolean">true</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MSP\ReCaptcha\Observer\Frontend\ForgotPasswordObserver"
                 type="MSP\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="enableConfigFlag"
                      xsi:type="string">msp_securitysuite_recaptcha/frontend/enabled_forgot</argument>
            <argument name="area" xsi:type="string">frontend</argument>
            <argument name="failureProvider"
                      xsi:type="object">MSP\ReCaptcha\Model\Provider\Failure\ForgotPasswordObserver</argument>
        </arguments>
    </virtualType>

    <!-- Create User -->
    <virtualType name="MSP\ReCaptcha\Model\Provider\Failure\CreateUserObserver"
                 type="MSP\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrl" xsi:type="string">*/*/create</argument>
            <argument name="redirectUrlParams" xsi:type="array">
                <item name="_secure" xsi:type="boolean">true</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MSP\ReCaptcha\Observer\Frontend\CreateUserObserver"
                 type="MSP\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="enableConfigFlag"
                      xsi:type="string">msp_securitysuite_recaptcha/frontend/enabled_create</argument>
            <argument name="area" xsi:type="string">frontend</argument>
            <argument name="failureProvider"
                      xsi:type="object">MSP\ReCaptcha\Model\Provider\Failure\CreateUserObserver</argument>
        </arguments>
    </virtualType>

    <!-- Contact Form -->
    <virtualType name="MSP\ReCaptcha\Model\Provider\Failure\ContactFormObserver"
                 type="MSP\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrl" xsi:type="string">contact/index/index</argument>
        </arguments>
    </virtualType>
    <virtualType name="MSP\ReCaptcha\Observer\Frontend\CreateUserObserver"
                 type="MSP\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="enableConfigFlag"
                      xsi:type="string">msp_securitysuite_recaptcha/frontend/enabled_contact</argument>
            <argument name="area" xsi:type="string">frontend</argument>
            <argument name="failureProvider"
                      xsi:type="object">MSP\ReCaptcha\Model\Provider\Failure\ContactFormObserver</argument>
        </arguments>
    </virtualType>

    <!-- AjaxLogin Form -->
    <virtualType name="MSP\ReCaptcha\Observer\Frontend\AjaxLoginObserver"
                 type="MSP\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="enableConfigFlag"
                      xsi:type="string">msp_securitysuite_recaptcha/frontend/enabled_login</argument>
            <argument name="responseProvider"
                      xsi:type="object">MSP\ReCaptcha\Model\Provider\Response\AjaxResponseProvider</argument>
            <argument name="area" xsi:type="string">frontend</argument>
            <argument name="failureProvider"
                      xsi:type="object">MSP\ReCaptcha\Model\Provider\Failure\AjaxResponseFailure</argument>
        </arguments>
    </virtualType>

    <!-- Backend Login -->
    <virtualType name="MSP\ReCaptcha\Observer\Adminhtml\LoginObserver"
                 type="MSP\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="area" xsi:type="string">adminhtml</argument>
            <argument name="failureProvider"
                      xsi:type="object">MSP\ReCaptcha\Model\Provider\Failure\AuthenticationExceptionFailure</argument>
        </arguments>
    </virtualType>

    <!-- Backend Forgot password -->
    <virtualType name="MSP\ReCaptcha\Model\Provider\Failure\ForgotPasswordObserver"
                 type="MSP\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrl" xsi:type="string">*/*/forgotpassword</argument>
        </arguments>
    </virtualType>
    <virtualType name="MSP\ReCaptcha\Observer\Adminhtml\ForgotPasswordObserver"
                 type="MSP\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="area" xsi:type="string">adminhtml</argument>
            <argument name="failureProvider"
                      xsi:type="object">MSP\ReCaptcha\Model\Provider\Failure\ForgotPasswordObserver</argument>
            <argument name="requireRequestParam" xsi:type="string">email</argument>
        </arguments>
    </virtualType>
</config>
